@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Rubik, Arial, Helvetica, sans-serif;
}
