@import './sass.scss';

.base-gutters {
  margin-left: $small-gap;
  margin-right: $small-gap;

  @media (min-width: $tablet) {
    margin-left: $medium-gap;
    margin-right: $medium-gap;
  }
  @media (min-width: $desktop) {
    margin-left: $desktop-gutter;
    margin-right: $desktop-gutter;
  }
}

.base-padding {
  padding-left: $small-gap;
  padding-right: $small-gap;

  @media (min-width: $tablet) {
    padding-left: $medium-gap;
    padding-right: $medium-gap;
  }
  @media (min-width: $desktop) {
    padding-left: $desktop-gutter;
    padding-right: $desktop-gutter;
  }
}

.center-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  @extend .center-content;
  padding: 0;
  margin: $small-gap 0;
  font-weight: bold;
  font-size: pxToRem(14);
  background-color: transparent;
  border: 3px solid $medium-grey;
  border-radius: 0;
  height: 44px;
  text-transform: uppercase;
  width: 200px;
  transition: all .2s;
  color: $dark-grey;
  overflow: hidden;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    transition: all .2s;
    background-color: $medium-grey;
    color: white;
  }
}

.link-button {
  @extend .button;
  width: 194px;
  height: 38px;
  text-decoration: none;

  &:visited {
    color: $dark-grey;
  }

  &:hover {
    text-decoration: none;
  }
}

.input-container {
  margin-bottom: $small-gap;

  label {
    margin-right: $small-gap;

    &:first-child {
      margin-bottom: $small-gap;
      display: block;
    }
  }
}

.crop-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
