// view ports
$tablet: 767px;
$desktop: 1024px;

// colors
$light-green: #4ec9b0;
$darker-blue: #569cd6;
$light-orange: #ce9178;
$reddish-orange: #d16969;
$light-blue: #9cdcfe;
$dark-grey: #1e1e1e;
$medium-grey: rgb(37, 37, 38);
$banner-grey: rgb(60, 60, 60);
$light-grey: #C7C6C6;
$yellowish: #dcdcaa;
$purple: #c586c0;

// other variables
$tiny-gap: 5px;
$small-gap: 20px;
$medium-gap: 40px;
$large-gap: 80px;
$desktop-gutter: calc((100vw - 984px) / 2);

// functions
@function pxToRem($size) {
	$remSize: $size / 16;
	@return #{$remSize}rem;
}
