.unsupported-browser {
  z-index: 100;
  background-color: #b00d25;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: none;

  a {
    color: #ffc200;
  }

  p {
    color: white;
    margin: 0;
    font-size: 16px;
  }

  &.active {
    display: flex;

  }
}
