@import '../../styles/classes.scss';

.nav {
  @extend .center-content;
  width: auto;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;

    a {
      color: white;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}
