:root {
  --fyord-color: #1F1750;
}

.welcome {
  text-align: center;
  border-top: 8px solid var(--fyord-color);
}

.welcome header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.welcome h1 {
  margin: 0;
  color: var(--fyord-color);
  font-size: 1.5rem;
}

.welcome p {
  font-size: 1.125rem;
  color: rgba(31, 23, 80, 0.5);
}

.welcome a {
  color: var(--fyord-color);
  font-weight: bold;
}
