@import './normalize.scss';
@import '../sass.scss';
@import '../classes.scss';

body {
  color: $dark-grey;
}

main {
  @extend .base-gutters;
  min-height: calc(100vh - 270px);
  padding-bottom: $large-gap;
}

header,
footer {
  height: 50px;
  @extend .base-padding;
  background-color: $banner-grey;
  color: white;
}

footer {
  background-color: $banner-grey;
}

h1,
h2,
h3,
h4 {
  margin-top: $medium-gap;
}

a {
  color: $darker-blue;
  text-decoration: none;

  &:visited {
    color: $darker-blue;
  }

  &:hover {
    text-decoration: underline;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;

  &.list-style {
    margin-bottom: $small-gap;
    padding-left: $small-gap;
    color: $reddish-orange;

    span {
      color: $dark-grey;
    }
  }
}

ol {
  &.list-style {
    list-style: decimal;
  }
}

ul {
  &.list-style {
    list-style: disc;
  }
}

$table-cell-grey: #e2e2e2;
table {
  border: 0 !important;
  min-width: 100%;
  margin-top: 20px;
  text-align: center;
  padding: 0;
  border-spacing: 0;
  flex-flow: column;
  thead,
  tbody,
  th,
  tr,
  td {
    border: 0;
  }
  th,
  td {
    min-width: 100px;
  }
  tr {
    height: 44px;
    &:nth-child(even) {
      background-color: $table-cell-grey;
    }
    td {
      font-size: pxToRem(14);
      color: $dark-grey;
      border-right: solid 1px #d1d1d1;
    }
    td:last-child {
      border-right: 0;
    }
  }
  thead {
    background-color: $light-orange;
    color: white;
    tr {
      th {
        font-size: pxToRem(16);
      }
    }
  }
}

textarea {
  font-size: pxToRem(16px);
  height: 100px;
  display: block;
  margin: 20px;
  margin-left: 0;
  margin-bottom: 0;
  border: 2px solid $light-grey;
  padding-left: 10px;
  padding-top: 10px;
  &:focus {
    outline: none;
    border-color: $darker-blue;
  }
  &::placeholder {
    font-size: pxToRem(16px);
    padding: 0;
    margin: 0;
  }
}

blockquote {
  font-size: pxToRem(18);

  &::before {
    color: $reddish-orange;
    content: '"';
  }
  &::after {
    color: $reddish-orange;
    content: '"';
  }
}

input[type=text],
input[type=datalist],
textarea,
select,
option {
  font-size: pxToRem(16);
  height: 36px;
  display: block;
  width: 100%;
  padding-left: 10px;
  border: 2px solid $light-grey;
  border-radius: 0;
  -webkit-appearance: none;
  &:focus {
    outline: none;
    border-color: $darker-blue;
  }
  &::placeholder {
    font-size: pxToRem(16);
  }
  &.input-error-state {
    border: 2px solid $reddish-orange;
  }
}

input[type=radio] {
  margin-right: $tiny-gap;
}

select {
  height: 42px;
  width: calc(100% + 16px);
}

button {
  @extend .button;
}
